h1{
    color: brown;
    text-align: center;
    text-decoration:overline;
    text-transform: uppercase;

    
}
h2{
    text-indent: 5px;
    font-size: 25px;
    text-shadow: 4px;
    border-right-width: 2px;
    border-right-color: brown;
    border-right-style: solid;
    
}
p{
    text-indent: 10px;
    font-style: italic;
    font-size: 13px;
}
table{
    border-collapse: collapse;
}
table,td{
    border: 1px solid rgb(124, 2, 2);
    width: 250px;
    height: 50px;
    vertical-align: middle;
    outline-width: 3px;
    outline-style: double;
    outline-color: rgb(151, 3, 3);
    margin: 2px 10px 30px 30px;
}
.a{
    border-color: brown;
    border-style: outset;
    background-color: rgb(245, 89, 89);
    color: white;
}